archive/old_n8n_attempts/n8n_final_solution.json
{
  "meta": {
    "instanceId": "vertex-final-solution"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vertex-webhook",
        "responseMode": "responseNode"
      },
      "id": "final-webhook",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 460]
    },
    {
      "parameters": {
        "jsCode": "// Write the JSON data to a temporary file\nconst fs = require('fs');\nconst path = require('path');\nconst tempFile = 'C:\\\\Users\\\\saurabh\\\\VertexAutoGPT\\\\n8n_temp_input.json';\n\n// Write the webhook body to temp file\nfs.writeFileSync(tempFile, JSON.stringify($input.all()[0].json.body));\n\nreturn { tempFile: tempFile, data: $input.all()[0].json.body };"
      },
      "id": "write-temp-file",
      "name": "Write Temp File",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [420, 460]
    },
    {
      "parameters": {
        "command": "cd /d \"C:\\Users\\saurabh\\VertexAutoGPT\" && .venv\\Scripts\\python.exe n8n_processor_file.py n8n_temp_input.json"
      },
      "id": "process-file",
      "name": "Process File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [640, 460]
    },
    {
      "parameters": {
        "conditions": {
          "boolean": [],
          "number": [],
          "string": [
            {
              "value1": "={{ JSON.parse($node[\"Process File\"].json.stdout).status }}",
              "operation": "equal",
              "value2": "success"
            }
          ]
        }
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [860, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Data processed successfully\", \"filename\": JSON.parse($node[\"Process File\"].json.stdout).filename } }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": false, \"error\": \"Processing failed\", \"details\": $node[\"Process File\"].json.stderr } }}"
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1080, 560]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Write Temp File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Write Temp File": {
      "main": [
        [
          {
            "node": "Process File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process File": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}