archive/old_n8n_attempts/n8n_minimal_test.json
{
  "meta": {
    "instanceId": "vertex-minimal-test"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "test-webhook",
        "responseMode": "responseNode"
      },
      "id": "webhook-test",
      "name": "Test Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "command": "echo Test command executed successfully"
      },
      "id": "simple-test",
      "name": "Simple Test",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"message\": \"Simple test worked\", \"stdout\": $node[\"Simple Test\"].json.stdout } }}"
      },
      "id": "test-response",
      "name": "Test Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [600, 300]
    }
  ],
  "connections": {
    "Test Webhook": {
      "main": [
        [
          {
            "node": "Simple Test",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Simple Test": {
      "main": [
        [
          {
            "node": "Test Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}