archive/old_n8n_attempts/n8n_workflow_batch_method.json
{
  "name": "VertexAutoGPT Batch Method",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vertex-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 460],
      "webhookId": "vertex-webhook"
    },
    {
      "parameters": {
        "command": "C:\\Users\\saurabh\\VertexAutoGPT\\n8n_processor.bat \"{{ JSON.stringify($json.body) }}\""
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [400, 460]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ $node[\"Process Data\"].json.stdout }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [620, 460]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-19T12:20:00.000Z",
  "versionId": "1"
}