archive/old_n8n_attempts/n8n_debug_python.json
{
  "meta": {
    "instanceId": "vertex-debug-python"
  },
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "debug-python",
        "responseMode": "responseNode"
      },
      "id": "debug-webhook-python",
      "name": "Debug Python Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [200, 300]
    },
    {
      "parameters": {
        "command": "cd /d \"C:\\Users\\saurabh\\VertexAutoGPT\" && echo {\"content\": \"test from n8n\", \"type\": \"summary\"} | .venv\\Scripts\\python.exe n8n_simple_processor.py"
      },
      "id": "debug-command-python",
      "name": "Debug Python Command",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [400, 300]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ { \"success\": true, \"command_output\": $node[\"Debug Python Command\"].json.stdout, \"command_error\": $node[\"Debug Python Command\"].json.stderr, \"exit_code\": $node[\"Debug Python Command\"].json.exitCode } }}"
      },
      "id": "debug-response-python",
      "name": "Debug Python Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [600, 300]
    }
  ],
  "connections": {
    "Debug Python Webhook": {
      "main": [
        [
          {
            "node": "Debug Python Command",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Debug Python Command": {
      "main": [
        [
          {
            "node": "Debug Python Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}