archive/old_n8n_attempts/n8n_workflow_fixed.json
{
  "name": "VertexAutoGPT Fixed Integration",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vertex-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [180, 460],
      "webhookId": "vertex-webhook"
    },
    {
      "parameters": {
        "command": "cd C:\\Users\\saurabh\\VertexAutoGPT && echo {{ JSON.stringify($json.body) }} > n8n_temp_data.json && .venv\\Scripts\\python.exe n8n_processor_file.py"
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [400, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ JSON.parse($node[\"Process Data\"].json.stdout).status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [620, 460]
    },
    {
      "parameters": {
        "command": "cd C:\\Users\\saurabh\\VertexAutoGPT && .venv\\Scripts\\python.exe -c \"import sys; sys.path.append('.'); from src.vertexautogpt.utils import validate_workspace; print('WORKSPACE_VALID' if validate_workspace() else 'WORKSPACE_INVALID')\""
      },
      "id": "validate-workspace",
      "name": "Validate Workspace",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [840, 360]
    },
    {
      "parameters": {
        "command": "cd C:\\Users\\saurabh\\VertexAutoGPT && git status --porcelain"
      },
      "id": "git-status",
      "name": "Git Status",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1060, 360]
    },
    {
      "parameters": {
        "command": "cd C:\\Users\\saurabh\\VertexAutoGPT && git add . && git commit -m \"[type:{{ JSON.parse($node[\"Process Data\"].json.stdout).hash }}] Automated n8n commit\" && git push"
      },
      "id": "upload-file",
      "name": "Upload File",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1280, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={{ JSON.parse($node[\"Process Data\"].json.stdout) }}"
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1500, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "status": "error",
          "message": "Processing failed",
          "error": "={{ $node[\"Process Data\"].json.stderr || 'Unknown error' }}",
          "timestamp": "={{ new Date().toISOString() }}"
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [840, 560]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Validate Workspace",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Workspace": {
      "main": [
        [
          {
            "node": "Git Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Status": {
      "main": [
        [
          {
            "node": "Upload File",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Upload File": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [],
  "triggerCount": 0,
  "updatedAt": "2025-09-19T12:00:00.000Z",
  "versionId": "1"
}