archive/old_n8n_attempts/n8n_workflow_network_fixed.json
{
  "name": "VertexAutoGPT Network-Fixed Production",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "vertex-webhook",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "webhook-trigger",
      "name": "Webhook Trigger",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2,
      "position": [200, 460],
      "webhookId": "vertex-webhook"
    },
    {
      "parameters": {
        "command": "C:\\Users\\saurabh\\VertexAutoGPT\\n8n_robust_processor.bat \"{{ JSON.stringify($json.body) }}\""
      },
      "id": "process-data",
      "name": "Process Data",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [420, 460]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "success-check",
              "leftValue": "={{ JSON.parse($node[\"Process Data\"].json.stdout).status }}",
              "rightValue": "success",
              "operator": {
                "type": "string",
                "operation": "equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "check-success",
      "name": "Check Success",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [640, 460]
    },
    {
      "parameters": {
        "command": "cd C:\\Users\\saurabh\\VertexAutoGPT && dir data\\summary\\*.json | find /c \".json\" && echo Workspace validation completed"
      },
      "id": "validate-workspace",
      "name": "Validate Workspace",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [860, 360]
    },
    {
      "parameters": {
        "command": "cd C:\\Users\\saurabh\\VertexAutoGPT && git status --short && echo Git check completed"
      },
      "id": "git-check",
      "name": "Git Check",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [1080, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "status": "success",
          "message": "Complete workflow executed successfully",
          "data": "={{ JSON.parse($node[\"Process Data\"].json.stdout) }}",
          "validation": "={{ $node[\"Validate Workspace\"].json.stdout }}",
          "git_info": "={{ $node[\"Git Check\"].json.stdout }}",
          "timestamp": "={{ new Date().toISOString() }}",
          "workflow": "network-fixed-production"
        }
      },
      "id": "success-response",
      "name": "Success Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [1300, 360]
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": {
          "status": "error",
          "message": "Processing failed",
          "error_details": "={{ $node[\"Process Data\"].json.stderr || 'Processing error' }}",
          "stdout": "={{ $node[\"Process Data\"].json.stdout || 'No output' }}",
          "timestamp": "={{ new Date().toISOString() }}",
          "workflow": "network-fixed-production"
        }
      },
      "id": "error-response",
      "name": "Error Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [860, 560]
    }
  ],
  "connections": {
    "Webhook Trigger": {
      "main": [
        [
          {
            "node": "Process Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Process Data": {
      "main": [
        [
          {
            "node": "Check Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Success": {
      "main": [
        [
          {
            "node": "Validate Workspace",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Error Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Validate Workspace": {
      "main": [
        [
          {
            "node": "Git Check",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Git Check": {
      "main": [
        [
          {
            "node": "Success Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": ["production", "network-fixed", "robust"],
  "triggerCount": 0,
  "updatedAt": "2025-09-19T12:35:00.000Z",
  "versionId": "3"
}